// Import Bootstrap Compass integration
@import "bootstrap-compass";
@import "bootstrap-sprockets";
// Import custom Bootstrap variables
 @import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import "bootstrap-variables";
$icon-font-path: '../fonts/bootstrap/';

@function font-path($path) {
  @return $path;
}
// Import Bootstrap for Sass
@import "bootstrap";

.navbar-inverse {
    border: 1px solid transparent;
    margin-bottom: 1rem;
    min-height: 2rem;
    position: relative;
}

.button-orange {
    background-color: #ff8800;
    background-image: linear-gradient(to bottom, #ffb700 0%, #fb8219 100%);
    border: 2px solid white;
    border-radius: 24px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}
.button-warning {
    background-color: #e21e25;
    background-image: linear-gradient(to bottom, #f2252c 0%, #e21e25 100%);
    border: 2px solid white;
    border-radius: 24px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}
.button-warning:hover {
    background: darken(#e21e25, 7%);
    border-color: #ebebeb;
    color: white;
}
.button-orange:hover {
    background: darken(#ff8800, 7%);
    border-color: #ebebeb;
    color: white;
}
.button-orange:hover p {
    color: #666666;
    text-shadow: none;
}
.button-warning:hover p {
    color: #666666;
    text-shadow: none;
}

.button-large {
    border: 3px solid #ebebeb;
    display: inline-block;
    height: 48px;
    padding: 8px 24px;
}
.button-large p {
    color: #ffffff;
    font-weight: 700;
    line-height: 40px;
    white-space: nowrap;
}
@media only screen and (max-width: 63.9375em) {
.button-large {
    padding: 0 8px;
}
.button-large p {
    font-size: 13px;
}
}
.button-medium {
    border: 3px solid #ebebeb;
    display: inline-block;
    height: 30px;
    padding: 0 12px;
}
@media only screen and (max-width: 63.9375em) {
.button-medium {
    height: auto;
    margin-bottom: 10px;
    min-height: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}
}
.button-medium p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
}
@media only screen and (max-width: 63.9375em) {
.button-medium p {
    line-height: 1.2;
    margin-bottom: 0;
}
}
.button-medium.with-shadow {
    border: 3px solid #fdfdfd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.51), -1px -1px 0 rgba(255, 255, 255, 0.33) inset;
}
.button-small {
    border: 3px solid #ebebeb;
    display: inline-block;
    height: 24px;
    padding: 0 12px;
}
.button-small p {
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
}
.button-small.with-shadow {
    border: 2px solid #fdfdfd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.39), -1px -1px 0 rgba(255, 255, 255, 0.23) inset;
}
.button-small.with-shadow p {
    line-height: 21px;
}  
.navbar-inverse.navbar {
	padding-top:1.2rem;
	margin-bottom:0;
}

.navbar-nav{
	font-weight: 500;
}
.headerLogo{
    margin-right:12rem;
}

.secondNav {
		padding-top:1.8rem;
         height: 80px;
	    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.37);
    	margin-bottom: 3px;
       }
.secondNav a{
	margin-top:1rem;
    color: $gray-dark !important;
    font-size: 1.6em !important;
}
.navbar-toggle{
	background-color: $creditstarOrange;
	color:white;
}
html body div.wrap nav#w3.navbar.secondNav div.container div#w3-collapse.navbar-collapse.collapse.in ul#w4.navbar.navbar-nav.navbar-left.nav{
	background-color: white;
	z-index: 2;
}

.orng-col{
	color: $creditstarOrange;
}
.text-small{
	font-size: 0.6rem !important;
}
.creditstarContainer{
	border:2px solid #EEEFEF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left:5rem;
	padding-right:5rem;
}
/* The ribbons */
/*Gradient to be added as background image*/
.corner-ribbon {
	width: 0;
	height: 0;
	color:white;
	//border-style: solid;
	//border-width: 6rem 6rem 0 0;
	background:$creditstarOrange;  
	border-top:6rem solid transparent;
	border-right:6rem solid white;
	border-bottom:0 solid white;
	border-left:0 solid white;
	
	//border-color: $creditstarOrange transparent transparent transparent;
	position:relative;
	left:-50px;
	
}
.ribbonIcon{
	color:white;
    font-size: 3rem;
    left: 5px;
    position: relative;
    top: -53px;
     transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
.navPills{
	height:5.5rem;
	margin-bottom:1rem;
	font-size:2rem;
	font-weight:500;
	background-color: #eeefef;
	box-shadow: 0px 0px 3px 0 lighten(#eeefef, 10%);
}

.redRow{
	color:red;
}
.yellowRow{
	color:$creditstarOrange;
}
.disabledRow{
	color:#e9dfde;
}
.textRed{
	color:#fb484c;
}